body{
    background-color: black;
    
}
.red-button{
    color: #ffffff;
    background-color: rgb(247, 247, 247);
}
h1{
    color: rgb(18, 78, 6);
    
}
p{
     color: rgb(18, 78, 6);
}
ul{
    color: rgb(18, 78, 6);
}
li{
    font-size: 30px;
    color: rgb(131, 6, 6);
}
.analog{
    font-size: 20px;
    color: rgb(18, 78, 6);
    
}
.Key{
    font-size: 25px;
    color: rgb(18, 78, 6);
}
h2{
    color: rgb(131, 6, 6);
}
.dont{
    background-color: darkred;
}
table{
    color: rgb(18, 78, 6);
    border: 1px solid;
}
th, td {
  border: 1px solid
}
h3{
     color: rgb(18, 78, 6);
}
.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  width: 100%; /* ou uma largura fixa */
  display: block;
}

.overlay-text {
  position: absolute;
  top: 20px;        /* distância do topo da imagem */
  left: 20px;       /* distância da esquerda */
  color: rgb(143, 11, 11);     /* cor do texto */
  font-size: 36px;
  text-shadow: 2px 2px 5px black; /* para melhorar a visibilidade */
}

